*{
    box-sizing: border-box;
    /* margin: 0;
    padding: 0; */
}
body{
    font-family: 'Ubuntu', sans-serif;;

}
.nav-bar{
    background-image: linear-gradient(#F8F9F9, #E8F8F5);
    width: 100%;
    text-align: right;
    padding: 10px;

    
}
.nav-bar a{
    text-decoration: none;
    font-size: 20px;
    padding:0 80px;
    color: #E59866;
    text-align: center;
}
.section-1{
    display: flex;
    background-image: url(img/bg-baby.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
}
.head-bio{
    width: 50%;
    text-align: justify;

}
.head-bio p{
    padding-bottom: 10px;
}
.head-img{
    margin-left: 70px;
    margin-top: 25px;
    border-radius: 15px;
    box-shadow: 5px 5px 20px gray;
}
.head-bio h1{
    font-size: 50px;
}
.brand-color{
    color: #D35400;
}
.btn{
    text-decoration: none;
    background-image: linear-gradient(#F5B041, #E74C3C);
    padding: 10px;
    color: white;
    border-radius: 5px;
    margin-top: 20px;
}
.section-2{
    display: flex;
    background-image: url(img/bg-baby2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;
    padding-left: 50px;
}
.section-2 img {
    height: 500px;
    margin-left: 200px;
}
.section-3{

    background-image: url(img/bg-baby3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 550px;

}
.section-3 h1{
    font-size: 50px;
    padding-top: 40px;
    text-align: center;
    
}
.parent{
    display: flex;
    margin-top: 70px;
}
.baby-type{

    width: 50%;
    border-left: 5px solid lightcoral;
    margin-top: 2%;
    margin-left: 2%;
    margin-right: 5%;
    padding-left: 15px;
    box-shadow: 5px 5px 40px gray;
    border-radius: 10px;
    height: 250px;

}
.baby-type h2{
    font-size: 40px;
}
.ft{
    background-image: url(img/ft-baby.jpg);
    border-radius: 5px;
    
}
.ft p{
    font-size: 20px;
    padding: 10px;
    margin: 0 auto;
    text-align: center;
    color: white;
}