*{
    box-sizing: border-box;
    /* margin: 0;
    padding: 0; */
}
body{
    font-family: 'Ubuntu', sans-serif;;

}
.nav-bar{
    background-image: linear-gradient(#F8F9F9, #E8F8F5);
    width: 100%;
    text-align: right;
    padding: 10px;

    
}
.nav-bar a{
    text-decoration: none;
    font-size: 20px;
    padding:0 80px;
    color: #E59866;
    text-align: center;
}
.section-1{
    display: flex;
    background-image: url(img/bg-baby.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
}
.head-bio{
    width: 50%;
    text-align: justify;

}
.head-bio p{
    padding-bottom: 10px;
}
.head-img{
    margin-left: 70px;
    margin-top: 25px;
    border-radius: 15px;
    box-shadow: 5px 5px 20px gray;
}
.head-bio h1{
    font-size: 50px;
}
.brand-color{
    color: #D35400;
}
.btn{
    text-decoration: none;
    background-image: linear-gradient(#F5B041, #E74C3C);
    padding: 10px;
    color: white;
    border-radius: 5px;
    margin-top: 20px;
}
.section-2{
    display: flex;
    background-image: url(img/bg-baby2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
    padding-left: 50px;
}
.section-2 img {
    height: 500px;
    margin-left: 200px;
}
.section-3{
    display: flex;
}